* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.film-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.film-container {
  width: 250px;
  background-color: #414141;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

.film-image {
  background-image: url("http://dummyimage.com/250x300.png/5fa2dd/ffffffs");
  height: 300px;
  padding-top: 5px;
}

.film-info {
  padding: 5px 5px;
}

.film-type {
  background-color: #af0404;
  color: #fff;
  height: 30px;
  width: 140px;
  padding: 5px;
}

.film-originalname {
  color: #8fd6e1;
  font-size: 20px;
}

.film-name {
  color: #ffffff;
}

.film-duration {
  color: #cccccc;
  margin-top: 10px;
}
